<div class="nuevo-usuario">
    <ba-card cardTitle="Nuevo Usuario" baCardClass="with-scroll">
        <div style="padding-bottom: 20px;"><i class="fa fa-user" aria-hidden="true"></i> Datos Personles y de Contacto</div>
        <div class="row">
          
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputFirstName">Nombre</label>
                    <input required [(ngModel)]="recurso.nombre" type="text" class="form-control" id="inputFirstName"
                        placeholder="Nombre">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputFirstName">Apellido</label>
                    <input required [(ngModel)]="recurso.apellido" type="text" class="form-control" id="inputLastName"
                        placeholder="Apellido">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input required [(ngModel)]="recurso.email" type="email" class="form-control" id="inputEmail"
                        placeholder="Email">
                </div>
            </div>
            <div class="col-sm-4">
                    <div class="form-group">
                        <label for="Telefono">Telefono</label>
                        <input id="idTelefono" required [(ngModel)]="recurso.telefono" type="text" class="form-control"
                            placeholder="Telefono">
                    </div>
                </div>
                <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Observaciones">Observaciones</label>
                            <input id="inputObservaciones" required [(ngModel)]="recurso.observaciones" type="text" class="form-control"
                                placeholder="Observaciones">
                        </div>
                    </div>


        </div>
        <hr>
        <div style="padding-bottom: 20px;"><i class="fa fa-lock" aria-hidden="true"></i> Datos de Acceso al Sistema</div>
        <div class="row">
                <div class="col-sm-1">
                        <div class="form-group">
                            <label for="inputUsuario">Prefijo</label>
                            <input  style="text-align: right; color: green;" value="12-" disabled="false" type="text" class="form-control" id="#"
                                placeholder="Prefijo Empresa">
                        </div>
                    </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputUsuario">Nombre de Usuario</label>
                        <input  required  type="text" class="form-control" id="inputUsuario"
                            placeholder="Usuario">
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="clave">Clave</label>
                        <input required  type="password" class="form-control" id="Clave"
                            placeholder="Clave">
                    </div>
                </div>
            </div>
            
        <hr>
        <div style="padding-bottom: 20px;"><i class="fa fa-cog" aria-hidden="true"></i> Configuraciones varias</div>
        <div class="row">
               
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Sucursal">Sucursal</label>
                    <select required [compareWith]="compareWithSucursal" [(ngModel)]="recurso.perfil.sucursal"
                        (change)="changeSucursal($event)" class="form-control" id="Sucursal">
                        <!-- <option *ngFor="let suc of sucursales | async" [ngValue]="suc" [selected]="suc.idSucursal === 1"> -->
                        <option *ngFor="let suc of sucursales | async" [ngValue]="suc">
                            {{suc.nombre}} - {{suc.domicilio}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Perfil">Perfil</label>
                    <select required [compareWith]="compareWithPerfil" [(ngModel)]="recurso.perfil" class="form-control"
                        id="Perfil" [disabled]="!recurso.perfil.sucursal">
                        <option *ngFor="let per of perfiles | async" [ngValue]="per">
                            {{per.descripcion}}
                        </option>
                    </select>
                </div>
            </div>

           
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="listaPrecio">Seleccione Listas de precio</label>
                    <div class="lista-precio-container">
                        <div *ngFor="let lista of listasPrecios | async" (click)="recurso.addOrRemoveLista(lista)"
                            class="lista" [ngClass]="{'lista-select': recurso.existLista(lista)}">
                            {{ lista.codigoLista }}
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="ptoVentas">Pto Venta</label>
                    <select name="ptoVentas" id="idPtoVenta" required [(ngModel)]="recurso.ptoVentas"
                        class="form-control">
                        <option [ngValue]="ptoVentas | async">
                            Todos
                        </option>
                        <option *ngFor="let ptoV of ptoVentas | async" [ngValue]="onNgValuePtoVenta(ptoV)">
                            {{ ptoV.ptoVenta }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div style="display: flex; justify-content: flex-end;">

            <button routerLink="/pages/tablas/usuarios" style="margin-right: 5px;" class="btn btn-secondary 
                    btn-detalle">
                Cancelar
            </button>

            <button (click)="onClickCrearUsuario()" type="submit" class="btn btn-primary">
                Confirmar
            </button>
        </div>

    </ba-card>

</div>

<!-- 

    [disabled]="utilsService.checkIfIncomplete(recurso)([
                                        'email',
                                        'telefono'
                                    ])()"
 -->