<div class="nuevo-rubro">
    <ba-card cardTitle="Nuevo rubro" baCardClass="with-scroll">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="codigoRubro">Codigo Rubro</label>
                    <input [(ngModel)]="recurso.codigoRubro" type="text" class="form-control" id="codigoRubro" placeholder="Codigo del rubro">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input [(ngModel)]="recurso.descripcion" type="text" class="form-control" id="descripcion" placeholder="Descripcion del rubro">
                </div>
            </div>
        </div>
        <button 
            routerLink="/pages/tablas/rubros"
            style="margin-right: 5px;"
            class="btn btn-secondary 
            btn-detalle">
            Cancelar
        </button>
        <button [disabled]="utilsService.checkIfIncomplete(recurso)()()"
                (click)="onClickCrear()" type="submit" class="btn btn-primary">Confirmar</button>
    </ba-card>

</div>