.usuarios {
    .btn-container {
        display: flex;
        justify-content: flex-end;
        //margin-bottom: 5%;
        .btn-new-user {
            //margin: 5% 6% 0;
        }
    }

    font-size: 11px;
}