<div class="ba-logo">
    <div (click)="dropdownOpen = !dropdownOpen" class="logo-container">
        <div class="img-container">
            <img class="empresa-picture" src="{{ ( prefijoLogoEmpresa | baEmpresaPicture ) }}">
        </div>
       <div class="datos-container">
            <div class="nombre-empresa">
                {{nombreEmpresa}}
            </div>
            <div style="font-size: 10px; color: grey;">
                    {{descripcionEmpresa}}
            </div>
        </div>
        
    </div>
<!--
    <div *ngIf="dropdownOpen" class="btn-container">
        <button routerLink="/login" (click)="localStorageService.clearLocalStorage()" type="submit" class="btn btn-default">Salir</button>
    </div>
-->

</div>
