<div class="panel panel-default">

    <table
        class="table table-striped"
        [mfData]="data | dataFilter : filterQuery"
        #mf="mfDataTable"
        [mfRowsOnPage]="rowsOnPage"
        [(mfSortBy)]="sortBy"
        [(mfSortOrder)]="sortOrder">
        <thead>
            <tr *ngIf="filtrosActivos">
                <th *ngIf="enableEditDelete" style="width: 10%">
                </th>

                <th class="table-column" *ngFor="let col of columns" [ngStyle]="getStyleFromCol(col)" [ngClass]="col.customClass ? col.customClass : 'text-align: left;'">
                    <input type="text" class="form-control" placeholder="">
                </th>
            </tr>

            <!-- Hay que usar el 90% en las tablas (si enableEditDelete es true) -->
            <tr>
                <th *ngIf="enableEditDelete" style="width: 10%"></th>
                <!-- Recorro y muestro las columnas recibidas en el input -->
                <th class="table-column" *ngFor="let col of columns" [ngStyle]="getStyleFromCol(col)" [ngClass]="col.customClass ? col.customClass : 'text-align: left;'">
                    <mfDefaultSorter by="name">{{col.nombre}}</mfDefaultSorter>
                </th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data; let i = index">
                <td *ngIf="enableEditDelete && utilsService.getCurrentMenu()" class="btn-container">
                    <div *ngIf="utilsService.getCurrentMenu().modificacion" (click)="edit(item)" class="btn-accion btn-editar">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="true" (click)="remove(item)" class="btn-accion btn-remover">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="checkIfEditOn(item)" (click)="confirmEdit(item)" class="btn-accion btn-remover">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </td>



                <td *ngIf="enableEditDelete && !utilsService.getCurrentMenu()" class="btn-container">
                    <div *ngIf="check" class="btn-accion">
                        <input type="checkbox" (click)="check(item, $event)" checked="checked" style="top: 2px; position: relative;">
                    </div>
                    <div *ngIf="edit" (click)="edit(item)" class="btn-accion btn-editar">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="remove" (click)="remove(item)" class="btn-accion btn-remover">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="checkIfEditOn(item)" (click)="confirmEdit(item)" class="btn-accion btn-remover">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </td>





                <td *ngFor="let col of columns" [ngClass]="col.customClass ? col.customClass : 'text-align: left;'">
                    <div [ngClass]="item.class">
                        <div *ngIf="!col.subkey">
                            <div *ngIf="!col.enEdicion || col.enEdicion !== item[utilsService.getNameIdKeyOfResource(item)]">
                                {{
                                    col.threeDecimals ?
                                        utilsService.toThreeDecimals(parseKey(item[col.key])) : parseKey(item[col.key])
                                }}
                            </div>
                            <div *ngIf="col.enEdicion && col.enEdicion === item[utilsService.getNameIdKeyOfResource(item)]">
                                <input [(ngModel)]="item[col.key]"  style="margin-top: 4px;" type="text" class="form-control edit-input" id="inputSubKey" placeholder="">
                            </div>
                        </div>

                        <div *ngIf="col.subkey && !col.subsubkey">
                            <div *ngIf="!col.enEdicion || col.enEdicion !== (item[col.key])[utilsService.getNameIdKeyOfResource(item[col.key])]">
                                {{(parseKey(item[col.key])[col.subkey])}}
                            </div>
                            <div *ngIf="col.enEdicion && col.enEdicion === (item[col.key])[this.utilsService.getNameIdKeyOfResource(item[col.key])]">
                                <input [(ngModel)]="(item[col.key])[col.subkey]"  style="margin-top: 4px;" type="text" class="form-control edit-input" id="inputSubKey" placeholder="">
                            </div>
                        </div>

                        <div *ngIf="col.subsubkey">
                                <div *ngIf="!col.enEdicion || col.enEdicion !== (item[col.key])[utilsService.getNameIdKeyOfResource(item[col.key])]">
                                    {{(parseKey(item[col.key])[col.subkey])[col.subsubkey]}}
                                </div>
                                <div *ngIf="col.enEdicion && col.enEdicion === (item[col.key])[this.utilsService.getNameIdKeyOfResource(item[col.key])]">
                                    <input [(ngModel)]="((item[col.key])[col.subkey])[col.subsubkey]"  style="margin-top: 4px;" type="text" class="form-control edit-input" id="inputSubKey" placeholder="">
                                </div>

                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,25,50,100]" ></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
