<ba-card cardTitle="Filtros" class="consulta-general" toggleBtn="true">

    <div class="row">


        <div class="col-sm-2">
            <div class="item-select">
                <label for="selectComprobante">
                    Deposito
                </label>
                <select [(ngModel)]="filtros.deposito" class="form-control" id="selectDeposito">
                    <option [ngValue]="null">
                        Todos
                    </option>
                    <option *ngFor="let dep of depositos | async" [ngValue]="dep">
                        {{dep.descripcion}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-sm-1">

            <label for="desde">
                Producto *
            </label>
            <input [disabled]="filtros.todos" [(ngModel)]="filtros.codProducto" type="text"
                class="form-control text-right" id="inputProducto" placeholder="" (keydown.arrowdown)="
                            productoEnfocadoIndex = popupListaService
                                .keyPressInputForPopup('down')(productos.filtrados.value)(productoEnfocadoIndex);
                        " (keydown.arrowup)="
                            productoEnfocadoIndex = popupListaService
                                .keyPressInputForPopup('up')(productos.filtrados.value)(productoEnfocadoIndex);
                        " (keyup.enter)="onEnterInputProd($event)" (ngModelChange)="onChangeInputProd($event)"
                (blur)="onBlurInputProd($event)">

            <popup-lista *ngIf="
                                    filtros.codProducto &&
                                    filtros.codProducto.length > 0 &&
                                    !isProdSelec1
                                " [items]="productos.filtrados.asObservable().distinctUntilChanged()"
                [keysToShow]="['descripcion', 'codProducto']" [onClickItem]="onSelectProducto"
                [fatherPosition]="popupListaService.getOffsetOfInputCliente('inputProducto')">
            </popup-lista>


        </div>
        <div class="col-sm-1">
            <label for="hasta">
                Hasta *
            </label>
            <input [disabled]="filtros.todos" [(ngModel)]="filtros.codProducto2" type="text"
                class="form-control text-right" id="inputProducto2" placeholder=""
                (keyup.enter)="onEnterInputProd2($event)" (ngModelChange)="onChangeInputProd2($event)"
                (blur)="onBlurInputProd2($event)" (keydown.arrowdown)="
                            productoEnfocadoIndex2 = popupListaService
                                .keyPressInputForPopup('down')(productos2.filtrados.value)(productoEnfocadoIndex2);
                        " (keydown.arrowup)="
                            productoEnfocadoIndex2 = popupListaService
                                .keyPressInputForPopup('up')(productos2.filtrados.value)(productoEnfocadoIndex2);
                        ">

            <popup-lista *ngIf="
                                    filtros.codProducto2 &&
                                    filtros.codProducto2.length > 0 &&
                                    !isProdSelec2" [items]="productos2.filtrados.asObservable().distinctUntilChanged()"
                [keysToShow]="['descripcion', 'codProducto']" [onClickItem]="onSelectProducto2"
                [fatherPosition]="popupListaService.getOffsetOfInputCliente('inputProducto2')">
            </popup-lista>

        </div>

        <div class="col-sm-1">
            <label for="hasta">
                Todos
            </label>
            <div class="item-input checkbox-container">
                <ba-checkbox [(ngModel)]="filtros.todos" [ngModelOptions]="{standalone: true}">
                </ba-checkbox>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="item-select">
                <label for="selectRubroGrupo">
                    Grupos
                </label>
                <select [(ngModel)]="filtros.gruposRubros" (ngModelChange)="onChangeRubroGrupo($event)"  class="form-control" id="selectRubroGrupo">
                    <option [ngValue]="null">
                        Todos
                    </option>
                    <option *ngFor="let grupRub of rubroGrupo | async" [ngValue]="grupRub">
                        {{grupRub.descripcion}}
                    </option>
                </select>
            </div>
       </div>
        <div class="col-sm-2">
            <div class="item-select">
                <label for="selectRubro">
                    Rubro
                </label>
                <select [(ngModel)]="filtros.rubro" (ngModelChange)="onChangeRubro($event)" class="form-control"
                    id="selectRubro">
                    <option [ngValue]="null">
                        Todos
                    </option>
                    <option *ngFor="let rub of rubros | async" [ngValue]="rub">
                        {{rub.descripcion}}
                    </option>
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="item-select">
                <label for="selectSubRubro">
                    Sub Rubro
                </label>
                <select [(ngModel)]="filtros.subrubro" class="form-control" id="selectSubRubro">
                    <option [ngValue]="null">
                        Todos
                    </option>
                    <option *ngFor="let subrub of subRubros | async" [ngValue]="subrub">
                        {{subrub.descripcion}}
                    </option>
                </select>
            </div>
       </div>
       <div class="col-sm-2" *ngIf="filtros.conStock == false" >

        <label for="desde" [ngStyle]="{'min-width': '85px'}">
            Desde *
        </label>

        <div  class="input-group date-picker-venc-desde">
            <input [(ngModel)]="filtros.fechaDesde" (blur)="onBlurFechaDesde($event)" class="form-control"
                placeholder="dd/mm/aaaa" name="dp" ngbDatepicker #dDesde="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dDesde.toggle()" type="button"
                    style="height: 100%;">
                    <img src="assets/img/calendar-icon.svg" style="width: 1.0rem; height: 1rem; cursor: pointer;" />
                </button>
            </div>
        </div>
    </div>



    <div class="col-sm-2">
        <label for="desde" [ngStyle]="{'min-width': '85px'}">
            Hasta *
        </label>

        <div class="input-group date-picker-venc-desde">
            <input [(ngModel)]="filtros.fechaHasta" (blur)="onBlurFechaHasta($event)" class="form-control"
                placeholder="dd/mm/aaaa" name="dp" ngbDatepicker #dHasta="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dHasta.toggle()" type="button"
                    style="height: 100%;">
                    <img src="assets/img/calendar-icon.svg" style="width: 1.0rem; height: 1rem; cursor: pointer;" />
                </button>
            </div>
        </div>

    </div>
       <div class="col-sm-1">
        <label for="label_stock">
           {{conSinStock}}
        </label>
        <div class="item-input checkbox-container">
            <ba-checkbox (click)="onClickConSinStock()"  [(ngModel)]="filtros.conStock" [ngModelOptions]="{standalone: true}">
            </ba-checkbox>
        </div>
    </div>
        <div class="col-sm-1" style="padding-top: 23px;">

            <button id="btnConsultar" [disabled]="
                                            (
                                                filtros.todos &&
                                                !filtros.fechaHasta &&
                                                !filtros.fechaDesde
                                            )
                                            ||
                                            (
                                                !filtros.todos &&
                                                (
                                                    !filtros.codProducto ||
                                                    !filtros.codProducto2
                                                )
                                                ||

                                                !filtros.fechaHasta
                                            )
                                        " (click)="onClickConsultar()" class="btn btn-primary">
                                            <i class="fa fa-search" aria-hidden="true"></i> Buscar

                                        </button>

        </div>

    </div>

</ba-card>
<div style="text-align: center;" *ngIf="isLoading" class="spinner-container">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
    <p style="text-align: center;">Aguarde un momento, por favor.</p>
</div>

<ba-card *ngIf="(stockData | async)?.length">
    <div class="row">



</div>

    <table id="tabla" name = "tabla" class="table table-striped" [mfData]="stockData | async"   #mf="mfDataTable" style="font-size: 11px;">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Original</th>
                <th>Descripcion</th>
                <!-- <th class="text-right">Pendiente</th> -->
                <th class="text-right">Ingresos</th>
                <th class="text-right">Egresos</th>
                <th class="text-right">Mon</th>
                <th class="text-right">PreComp $</th>
                <th class="text-right">PreComp U$d</th>
                <th class="text-right">Stock</th>
                <th class="text-right">Ing Virtual</th>
                <th class="text-right">Eg Virtual</th>
                <th class="text-right">Imp Virtual</th>
                <th class="text-right">Stock Virtual</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stockElement of mf.data">
                <td>{{ stockElement.codProducto }}</td>
                <td>{{ stockElement.codProductoOriginal }}</td>
                <td>{{ stockElement.descripcion }}</td>
                <!-- <td class="text-right">{{ stockElement.pendiente }}</td> -->
                <td class="text-right">{{ stockElement.ingresos| number :'1.2-2' }}</td>
                <td class="text-right">{{ stockElement.egresos | number :'1.2-2'}}</td>
                <td class="text-right">{{ stockElement.monedaNombre }}</td>
                <td class="text-right"><div *ngIf="stockElement.monedaNombre == '$AR'">{{ stockElement.precioCompra | number :'1.2-2' }}</div></td>
                <td class="text-right"><div *ngIf="stockElement.monedaNombre == 'u$s'">{{ stockElement.precioCompra | number :'1.2-2' }}</div></td>
                <td class="text-right">{{ stockElement.stockFisico | number :'1.2-2' }}</td>
                <td class="text-right">{{ stockElement.ingresoVirtual  | number :'1.2-2' }}</td>
                <td class="text-right">{{ stockElement.egresoVirtual | number :'1.2-2' }}</td>
                <td class="text-right">{{stockElement.virtualImputado | number :'1.2-2'}} </td>
               <td class="text-right">  {{ (stockElement.ingresos  - stockElement.egresos) + (stockElement.ingresoVirtual - stockElement.egresoVirtual)-stockElement.virtualImputado | number :'1.2-2'}}</td>
                <!-- <td class="text-right">{{ stockElement.stockVirtual }}</td>-->
            </tr>
        </tbody>


 <tfoot>
            <tr>
                <td colspan="12">
                 <!--    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator> -->
                </td>
            </tr>
        </tfoot>


    </table>
 <div class="row">
  <div class="col-sm-2">
    <div class="btn-imprimir-container">
        <button style="margin: 0 19px;" (click)="descargarReporte()" type="submit" class="btn btn-secondary">
            <i style="padding-right: 4px" class="fa fa-file-text-o" aria-hidden="true"></i>
            Reporte General
        </button>
    </div>
</div>
<div class="col-sm-2">
    <div class="btn-imprimir-container">
        <button style="margin: 0 19px;" (click)="this.utilsService.descargarArchivoCsv(mf.data,  columnasTablaHeader, 'stockGeneral')" type="submit" class="btn btn-secondary">

            <i style="padding-right: 8px"class="fa fa-file-excel-o" aria-hidden="true"></i>
          Descargar Excel/Csv
        </button>
    </div>
</div>
<div class="col-sm-2">
    <div class="btn-imprimir-container">
        <button style="margin: 0 19px;" (click)="descargarReporteInventario()" type="submit" class="btn btn-secondary">
            <i style="padding-right: 4px" class="fa fa-archive" aria-hidden="true"></i>
            Control de Inventario
        </button>
    </div>
</div>





</div>
</ba-card>
