<div class="lista-precios">
    <ba-card cardTitle="Listas Precios" baCardClass="with-scroll" class="data-table-container">
         <data-tables
                     [data]="tableData | async"
                     [columns]="tableColumns"
                     [edit]="onClickEdit"
                     [remove]="onClickRemove"
                     tituloTabla="Lista Precios" >
        </data-tables>

        <div *ngIf="utilsService.getCurrentMenu() && utilsService.getCurrentMenu().alta" class="btn-container">

            <button *ngIf="permisoListaPrecio"
                    routerLink="/pages/tablas/lista-precios/nuevo" type="submit" class="btn btn-default btn-new-user mt-3" translate>
                 Nueva Lista de Precios
            </button>
        </div>
    </ba-card>

</div>
