.abm-contratos {

    .table-contratos {
        margin: 1%;


        tr {
            th {
                font-weight: bold;
                margin-bottom: 3px;
            }


            .btn-accion {
                margin: 4px;
                cursor: pointer;
            }
            
        }

        tr:nth-child(even) {
            background: rgba(219, 219, 219, 0.158);
        }
    }
 
    .filter-container {
        display: flex;
        > span {
            font-size: 1rem;
            padding: 12px;
            margin: 10px;
        }

        > .item {
            margin: 0 10px;
        }
    }

    .bar-separator {
        margin: 0px 15px 20px 0;
    }
}