<ba-card class="comprobante-compra">
    <form #compForm="ngForm">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group inline-group">
                    <label for="proveedorSeleccionado">Proovedor</label>
                    <input  #inputProveedorDom
                            autocomplete="off"
                            id="inputProveedor"
                            (blur)="onBlurInputProv($event)"
                            (ngModelChange)="onChangeInputProveedor($event)"
                            [(ngModel)]="proveedorSeleccionado.padronCodigo"
                            name="padronCod"
                            type="text"
                            class="form-control"
                            placeholder=""
                            (keyup.enter)="onEnterInputProv($event)"
                            (keydown.arrowdown)="keyPressInputTexto($event)('down')"
                            (keydown.arrowup)="keyPressInputTexto($event)('up')"
                            required
                            >

                    <div
                        class="spinner-prov-container"
                        *ngIf="
                            utilsService.ifFocused(inputProveedorDom)
                            &&
                            (
                                !proveedorSeleccionado ||
                                !proveedorSeleccionado.padronApelli
                            )
                            &&
                            proveedorSeleccionado && proveedorSeleccionado.padronCodigo && proveedorSeleccionado.padronCodigo.length > 0
                            &&
                            buscandoProveedor
                        ">
                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    </div>

                </div>
            </div>

            <popup-lista    *ngIf="utilsService.ifFocused(inputProveedorDom)"
                            [items]="proveedores.filtrados.asObservable().distinctUntilChanged()"
                            [keysToShow]="['padronApelli', 'padronNombre', 'padronCodigo']"
                            [onClickItem]="popupLista.onClickListProv"
                            [fatherPosition]="popupLista.getOffsetOfInputProveedor()">
            </popup-lista>

            <div class="col-sm-3">
                <div class="form-group">
                    <input autocomplete="off"  [disabled]="true" name="padronApellido" [(ngModel)]="proveedorSeleccionado.padronApelli" type="text" class="form-control" id="nombreProveedor" placeholder="">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group inline-group">
                    <label for="cuit">CUIT</label>
                    <input autocomplete="off"  [disabled]="true" name="cuitPadr" [(ngModel)]="proveedorSeleccionado.cuit" type="text" class="form-control" id="cuit" placeholder="">
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group inline-group">
                    <label for="iva">SIT.</label>
                    <input autocomplete="off"  [disabled]="true" name="descCortaIva" [ngModel]="proveedorSeleccionado.condIva ? proveedorSeleccionado.condIva.descCorta : ''" type="text" class="form-control" id="iva" placeholder="">
                </div>
            </div>
            <div class="col-sm-2 form-group inline-group tipo-compra-dropdown without-padding">
                <label for="tipoOperacionSelect">Tipo Operacion:</label>
                <select
                    required
                    class="form-control without-padding"
                    name="tipoOPselec"
                    [(ngModel)]="tipoOpSelect"
                    (ngModelChange)="onChangeTipoOperacion($event)"
                    [ngStyle]="{padding: '0px 8px 0px 8px'}" id="tipoOperacionSelect">
                    <option *ngFor="let tipoOp of tiposOperacion | async" [ngValue]="tipoOp">
                        {{tipoOp.descripcion}}
                    </option>
                </select>
            </div>
            <div class="col-sm-2 form-group inline-group padding-content">
                <label class="add-item-label" for="depositoInput">Deposito: </label>
                <select required [compareWith]="utilsService.dropdownCompareWith" name="depoSelect" [(ngModel)]="depositoSelec" class="form-control without-padding">
                    <option *ngFor="let dep of depositosAMostrar" [ngValue]="dep">
                        {{dep.descripcion}}
                    </option>
                </select>
            </div>
        </div>

        <div class="row custom-card-container">
            <custom-card class="col-sm-6 card-flex-column" title="{{ tituloCardComprobante }}">
                <div class="row">
                    <div class="col-sm-4 without-padding">
                        <div class="col-sm-6 inline-flex">
                            <div class="form-group inline-group">
                                <label for="cteTipo">Cte:</label>
                                <select
                                    id="cteTipo" name="compTipoSelect" required
                                    class="form-control without-padding" [ngStyle]="{ padding: '1px 8px 0px 8px', 'min-width': '55px', 'margin-top': '1px' }"
                                    [(ngModel)]="comprobante.tipo"
                                    (ngModelChange)="onChangeCteTipo($event)"
                                    >
                                    <option *ngFor="let tipoComp of tiposComprobantes | async" [ngValue]="tipoComp">
                                        {{tipoComp.descCorta}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-5 inline-flex">
                            <div class="form-group inline-group">
                                <select
                                    *ngIf="comprobante && comprobante.tipo && comprobante.tipo.letrasCodigos"
                                    id="cteTipo" class="form-control without-padding" name="letraSelct" required
                                    [ngStyle]="{padding: '1px 2px 0px 8px', 'min-width': '55px'}"
                                    [(ngModel)]="comprobante.letraCodigo"
                                    (ngModelChange)="onChangeLetra($event)"
                                    >
                                    <option *ngFor="let lc of comprobante.tipo.letrasCodigos" [ngValue]="lc">
                                        {{ lc.letra.letra }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 without-padding">
                        <div [ngStyle]="{'justify-content': 'center'}" class="form-group inline-group">
                            <label for="cteNro">Nro:</label>
                            <div *ngIf="
                                comprobante &&
                                comprobante.letraCodigo &&
                                comprobante.letraCodigo.numeradores &&
                                comprobante.letraCodigo.numeradores.length > 0
                                ">
                                <select     required
                                            id="selectPtoVentaNum"
                                            class="form-control"
                                            [ngStyle]="{padding: '1px 8px 0px 8px'}"
                                            name="compNumerador"
                                            [(ngModel)]="comprobante.numerador"
                                            (ngModelChange)="onChangePtoVentaNro($event)"
                                            >
                                    <option *ngFor="let upNum of comprobante.letraCodigo.numeradores" [ngValue]="upNum">
                                        {{
                                            upNum.ptoVenta.ptoVenta.toString().padStart(4, '0')
                                        }} - {{
                                            upNum.numerador.toString().padStart(8, '0')
                                        }}
                                    </option>
                                </select>
                            </div>
                            <!-- *ngIf="ngIfNumeradorComprobante()" -->
                            <div
                                *ngIf="comprobanteService.comprobanteContainNumerador(comprobante)"
                                [ngStyle]="{display: 'flex'}"
                                >
                                <input autocomplete="off"   required
                                        maxlength="4"
                                        (blur)="
                                            onBlurPtoVenta($event)
                                        "
                                        name="compPtoVenta"
                                        [(ngModel)]="comprobante.numerador.ptoVenta.ptoVenta"
                                        type="text" class="form-control pre-numero-input text-right" id="puntoVenta" placeholder="">

                                <input autocomplete="off"   required
                                        maxlength="8"
                                        (blur)="
                                            onBlurNumerador($event)
                                        "
                                        name="compNumero"
                                        [(ngModel)]="comprobante.numerador.numerador"
                                        type="text" class="form-control text-right" id="numero" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group inline-group">
                            <label for="cteMoneda">Moneda:</label>
                            <select required [compareWith]="compareFnMonedas" name="compMoneda" [(ngModel)]="comprobante.moneda" (ngModelChange)="onMonedaChange($event)" class="form-control without-padding" [ngStyle]="{padding: '2px 8px 0px 8px'}" id="cteMoneda">
                                <option *ngFor="let mon of monedas | async" [ngValue]="mon">
                                    {{mon.descripcion}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group inline-group last-child-custom-card">
                            <label for="fechaComprobante">Fecha Emisión: </label>
                            <div class="input-group">
                                <input autocomplete="off"   required
                                        [disabled]="
                                    !comprobante ||
                                    !comprobante.letraCodigo ||
                                    (
                                        comprobante &&
                                        comprobante.letraCodigo &&
                                        comprobante.letraCodigo.numeradores &&
                                        comprobante.letraCodigo.numeradores.length > 0 &&
                                        (
                                            !comprobante.numerador || !comprobante.numerador.fechaApertura
                                        )
                                    )
                                "
                                        (ngModelChange)="onCalculateFecha($event)('fechaComprobante')('comprobante')"
                                        (blur)="onCalculateFecha($event)('fechaComprobante')('comprobante')"
                                        (keyup.enter)="onCalculateFecha($event)('fechaComprobante')('comprobante')"
                                        class="form-control"
                                        placeholder="dd/mm/aaaa"
                                        name="fechaComp"
                                        [(ngModel)]="comprobante.fechaComprobante"
                                        ngbDatepicker
                                        #dComp="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="dComp.toggle()" type="button" style="height: 100%;">
                                        <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group inline-group last-child-custom-card">
                            <label for="fechaVto">Fecha Vencimiento: </label>
                            <div class="input-group">
                                <input autocomplete="off"   required
                                [disabled]="
                                    !comprobante ||
                                    !comprobante.letraCodigo ||
                                    (
                                        comprobante &&
                                        comprobante.letraCodigo &&
                                        comprobante.letraCodigo.numeradores &&
                                        comprobante.letraCodigo.numeradores.length > 0 &&
                                        (
                                            !comprobante.numerador || !comprobante.numerador.fechaApertura
                                        )
                                    )
                                "
                                        id="fechaVtoComprobante"
                                        (blur)="onBlurOrEnterFechaVtoComp($event)"
                                        (keyup.enter)="onBlurOrEnterFechaVtoComp($event)"
                                        class="form-control"
                                        placeholder="dd/mm/aaaa"
                                        name="dVto"
                                        [(ngModel)]="comprobante.fechaVto" ngbDatepicker #dVto="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="dVto.toggle()" type="button" style="height: 100%;">
                                        <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group inline-group last-child-custom-card">
                            <label for="fechaContable">Fecha Contable: </label>
                            <div class="input-group">
                                <input autocomplete="off"   required
                                [disabled]="
                                    !comprobante ||
                                    !comprobante.letraCodigo ||
                                    (
                                        comprobante &&
                                        comprobante.letraCodigo &&
                                        comprobante.letraCodigo.numeradores &&
                                        comprobante.letraCodigo.numeradores.length > 0 &&
                                        (
                                            !comprobante.numerador || !comprobante.numerador.fechaApertura
                                        )
                                    )
                                "
                                        id="fechaContableComprobante"
                                        (blur)="onBlurOrEnterFechaContableComp($event)"
                                        (keyup.enter)="onBlurOrEnterFechaContableComp($event)"
                                        class="form-control"
                                        placeholder="dd/mm/aaaa"
                                        name="dCble"
                                        [(ngModel)]="comprobante.fechaContable" ngbDatepicker #dCble="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="dCble.toggle()" type="button" style="height: 100%;">
                                        <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </custom-card>
           <div class="col-sm-6 comp-rel-card-container">
           <ngb-tabset [destroyOnHide]=false class="col-sm-12 tabs-opciones">
                    <ngb-tab title="Forma de Pago">
                        <ng-template ngbTabContent>
                            <div class="fpago-content">
                                <tabla-forma-pago-comp      class="fpago-tabla"
                                                            [moneda]="comprobante.moneda"
                                                            [dataTable]="dataTablaFormasPago"
                                                            (onAddSelecFormaPago)="handleFormaPagoSelec($event)('add')"
                                                            (onRemoveSelecFormaPago)="handleFormaPagoSelec($event)('remove')">
                                </tabla-forma-pago-comp>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Comprobante Relacionado">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group inline-group">
                                        <label for="cteRelTipo">Cte:</label>

                                        <select id="cteRelSelect" name="tipoCompRel"
                                         [(ngModel)]="comprobanteRelacionado.tipo"
                                         class="form-control without-padding"
                                         [ngStyle]="{padding: '2px 8px 0px 8px'}" id="cteRelTipo">

                                            <option *ngFor="let tipoComp of tiposComprobantesRel | async" [ngValue]="tipoComp">
                                                {{tipoComp.descripcion}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group inline-group">
                                        <label for="cteNro">Nro:</label>
                                        <!-- (blur)="onBlurNumeroAutocomp($event)('puntoVenta')('comprobanteRelacionado')"  -->
                                        <input autocomplete="off"  maxlength="4"
                                            name="ptoVentaCompRel"
                                            [attr.disabled]="comprobanteRelacionado.todosLosPendientes ? '' : null"
                                            (blur)="onBlurPtoVentaCteRel($event)"
                                            [(ngModel)]="comprobanteRelacionado.puntoVenta"
                                            type="text"
                                            class="form-control pre-numero-input text-right"
                                            id="puntoVenta" placeholder="">
                                        <input autocomplete="off"
                                            maxlength="8"
                                            name="nroCompRel"
                                            [attr.disabled]="comprobanteRelacionado.todosLosPendientes ? '' : null"
                                            (blur)="onBlurNumeradorCteRel($event)"
                                            [(ngModel)]="comprobanteRelacionado.numero"
                                            type="text"
                                            class="form-control text-right" id="numero" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="checkbox-todoPendiente">
                                        <ba-checkbox
                                                        [(ngModel)]="comprobanteRelacionado.todosLosPendientes"
                                                        name="todosPendient"
                                                        [label]="'Todos los pendientes'"
                                                        [ngModelOptions]="{standalone: true}">
                                        </ba-checkbox>
                                    </div>
                                </div>

                                <div class="col-sm-3 btn-container">
                                    <button [disabled]="
                                        !comprobanteRelacionado.todosLosPendientes &&
                                        !(
                                            comprobanteRelacionado.puntoVenta &&
                                            comprobanteRelacionado.numero
                                        ) ||
                                        !(
                                            proveedorSeleccionado &&
                                            proveedorSeleccionado.padronCodigo
                                        )
                                    " (click)="onClickBuscarPendientes()" type="submit" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>

            </div>

        </div>

        <div class="row">
            <ngb-tabset [destroyOnHide]=false class="col-sm-12 tabs-ingreso">
                <ngb-tab title="Articulos">
                    <ng-template ngbTabContent>

                        <tabla-ingreso  [data]="tablas.datos.productosPend"  id="tbl-ingreso"
                                        [columns]="tablas.columnas.columnasProductos"
                                        [remove]="onClickRemove"
                                        [add]="comprobante"
                                        [edit]="onClickEdit('columnasProductos')"
                                        [confirmEdit]="onClickConfirmEdit('columnasProductos')"
                                        [onClickProductoLista]="onClickProductoLista"
                                        [enableAddItem]="verificoRelacionadoObligatorio(estadoRelacionadoObligatorio)"
                                        [comprobante]="comprobante"
                                        [customsBlur]="customsBlurProduct"
                                        >
                        </tabla-ingreso>

                    </ng-template>
                </ngb-tab>
                <ngb-tab
                    title="Trazabilidad"
                    [disabled]="
                        comprobante &&
                        comprobante.tipo &&
                        comprobante.tipo.comprobante &&
                        comprobante.tipo.comprobante.idSisComprobantes !== 1 ">




                    <ng-template ngbTabContent>

                        <tabla-ingreso  [data]="comprobanteCompraService.getOnlyTrazables(tablas.datos.productosPend)"
                                        [columns]="tablas.columnas.columnasTrazabilidad"
                                        [edit]="onClickEdit('columnasTrazabilidad')"
                                        [confirmEdit]="onClickConfirmEdit('columnasTrazabilidad')"
                                        [onClickProductoLista]="onClickProductoLista">
                        </tabla-ingreso>

                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <!-- <div (click)="fetchFacturas()">Subtotales</div> -->
                        <div [ngStyle]="{padding: '1px 8px 0px 8px'}">Subtotales</div>
                    </ng-template>
                    <ng-template ngbTabContent>

                        <div *ngIf="comprobante.tipo && comprobante.tipo.comprobante.idSisComprobantes === 1" class="row factura-filters">
                            <div class="col-sm-2">
                                <div class="form-group inline-group">
                                    <label for="cteTipo">Cte:</label>
                                    <select name="tipoFactu" [(ngModel)]="factura.tipo" class="form-control without-padding"
                                     [ngStyle]="{padding: '1px 8px 0px 8px'}" id="cteTipo">
                                        <option *ngFor="let tipoComp of tiposComprobantesFactura | async" [ngValue]="tipoComp">
                                            {{tipoComp.descCorta}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <div class="form-group inline-group">
                                    <select *ngIf="factura && factura.tipo && factura.tipo.letrasCodigos" name="letraFactu"
                                        [(ngModel)]="factura.letraCodigo" class="form-control" id="cteTipoFactura">
                                        <option *ngFor="let lc of factura.tipo.letrasCodigos" [ngValue]="lc">
                                            {{ lc.letra.letra }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">

                                <div *ngIf="
                                    factura &&
                                    factura.letraCodigo &&
                                    factura.letraCodigo.numeradores &&
                                    factura.letraCodigo.numeradores.length > 0
                                    ">
                                    <select     id="selectPtoVentaNum"
                                                class="form-control"
                                                [ngStyle]="{padding: '1px 8px 0px 8px'}"
                                                [(ngModel)]="factura.numerador"
                                                name="nroFactu">
                                        <option *ngFor="let upNum of factura.letraCodigo.numeradores" [ngValue]="upNum">
                                            {{
                                                upNum.ptoVenta.ptoVenta.toString().padStart(4, '0')
                                            }} - {{
                                                upNum.numerador.toString().padStart(8, '0')
                                            }}
                                        </option>
                                    </select>
                                </div>

                                <!-- !(
                                    factura &&
                                    factura.tipo &&
                                    factura.tipo.numerador &&
                                    factura.tipo.numerador.length > 0
                                    ) -->
                                    <!-- *ngIf="ngIfNumeradorFactura()"  -->
                                    <div
                                        *ngIf="comprobanteService.comprobanteContainNumerador(factura)"
                                        class="form-group inline-group">
                                    <label for="cteNro">Nro:</label>

                                    <input autocomplete="off"   required
                                        maxlength="4"
                                        (blur)="
                                            factura.numerador && factura.numerador.ptoVenta ?
                                                factura.numerador.ptoVenta.ptoVenta = factura.numerador.ptoVenta.ptoVenta.toString().padStart(4, '0') : null
                                        "
                                        name="ptoVentaFact"
                                        [(ngModel)]="factura.numerador.ptoVenta.ptoVenta"
                                        type="text" class="form-control pre-numero-input text-right" id="puntoVentaFact" placeholder="">
                                    <input autocomplete="off"   required
                                        maxlength="8"
                                        (blur)="
                                            factura.numerador.numerador = factura.numerador.numerador.toString().padStart(8, '0')
                                        "
                                        name="numeroFact"
                                        [(ngModel)]="factura.numerador.numerador"
                                        type="text" class="form-control text-right" id="numeroFact" placeholder="">

                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group inline-group last-child-custom-card">
                                    <label for="fechaComprobante">Fecha Contable</label>
                                    <div class="input-group">

                                        <input autocomplete="off"
                                                (blur)="onCalculateFecha($event)('fechaContable')('factura')"
                                                (keyup.enter)="onCalculateFecha($event)('fechaContable')('factura')"
                                                class="form-control" placeholder="dd/mm/aaaa" name="dp" [(ngModel)]="factura.fechaContable" ngbDatepicker #dComp="ngbDatepicker">
                                        <!-- <input autocomplete="off"  class="form-control" placeholder="dd/mm/aaaa" name="dp" [(ngModel)]="factura.fechaContable" ngbDatepicker #dComp="ngbDatepicker"> -->
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="dComp.toggle()" type="button" style="height: 100%;">
                                                <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group inline-group last-child-custom-card">
                                    <label for="fechaVto">Fecha Vto</label>
                                    <div class="input-group">
                                        <input autocomplete="off"   (blur)="onCalculateFecha($event)('fechaVto')('factura')"
                                                (keyup.enter)="onCalculateFecha($event)('fechaVto')('factura')"
                                                id="fechaVtoFactura" class="form-control" placeholder="dd/mm/aaaa" name="dp" [(ngModel)]="factura.fechaVto" ngbDatepicker #dVto="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="dVto.toggle()" type="button" style="height: 100%;">
                                                <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="subtotales-container">
                            <div class="subtotales-titulo">
                                <p>Subtotales</p>
                            </div>

                            <div class="subtotales-content">
                                <tabla-ingreso  [data]="tablas.datos.modelosFactura"
                                                [columns]="tablas.columnas.columnasFactura"
                                                [edit]="onClickEdit('columnasFactura')"
                                                [confirmEdit]="onClickConfirmEdit('columnasFactura')"
                                                [tablaSubtotales]="true"
                                                [comprobante]="comprobante"
                                                >
                                </tabla-ingreso>
                            </div>
                        </div>



                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Forma Pago">
                    <ng-template ngbTabContent>
                        <tabla-ingreso  [data]="tablas.datos.detallesFormaPago"
                                        [columns]="tablas.columnas.columnasDetallesFp"
                                        [edit]="onClickEdit('columnasDetallesFp')"
                                        [confirmEdit]="onClickConfirmEdit('columnasDetallesFp')">
                        </tabla-ingreso>

                        <div class="resto-pagar">
                            <label class="resto-pagar-content">Resto Pagar: {{ calcRestoPagar() }}</label>
                        </div>


                    </ng-template>
                </ngb-tab>
                <ngb-tab
                    title="Cond. Comercialización"
                    [disabled]="
                        comprobante &&
                        comprobante.tipo &&
                        comprobante.tipo.comprobante &&
                        comprobante.tipo.comprobante.idSisComprobantes !== 4
                    ">
                    <ng-template ngbTabContent>
                        <div class="container">
                            <div class="each-input check">
                                <input [disabled]="condicionesConfirmadas" class="align-check" name="pesificado" [(ngModel)]="pesificado" type="checkbox">Pesificado
                                <input [disabled]="condicionesConfirmadas" class="align-check" name="dolarizadoAlVto" [(ngModel)]="dolarizadoAlVto" type="checkbox">Dolarizado al vencimiento
                                <input [disabled]="condicionesConfirmadas" class="align-check" name="canjeInsumos" [(ngModel)]="canjeInsumos" type="checkbox">Canje insumos
                            </div>
                            <div class="each-input"><label for="interesMensualCompra">Interés mensual de compra:</label>
                            <input [disabled]="condicionesConfirmadas" autocomplete="off"   required
                                            maxlength="6"
                                            name="interesMensualCompra"
                                            [(ngModel)]="interesMensualCompra"
                                            type="number" class="form-control cond-cotiza pre-numero-input text-right" id="interesMensualCompra" placeholder="">%</div>
                            <div class="each-input"><label for="tipoCambio">Tipo de cambio:</label>
                                <select
                                    [disabled]="condicionesConfirmadas"
                                    required
                                    class="form-control without-padding cond-cotiza"
                                    name="tipoCambio"
                                    [(ngModel)]="tipoCambio"
                                    id="tipoCambio">
                                    <option [value]="'divisa'">
                                        Divisa
                                    </option>
                                    <option [value]="'billete'">
                                        Billete
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-12 btn-container-2">
                                <button
                                        name="confirmaCondiciones"
                                        [disabled]="condicionesConfirmadas"
                                        (click)="onClickConfirmCondiciones()"
                                        class="btn btn-primary btn-ingreso-from btn-space"
                                        >
                                    Confirmar
                                </button>

                                <button [disabled]="!condicionesConfirmadas" (click)="onClickCancelarCondiciones()" class="btn btn-primary btn-space btn-ingreso-from">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab
                    title="Ajuste total"
                    [disabled]="
                        comprobante &&
                        comprobante.tipo &&
                        comprobante.tipo.comprobante &&
                        comprobante.tipo.comprobante.idSisComprobantes !== 2
                    ">
                    <ng-template ngbTabContent>
                        <div class="container">
                            <div class="each-input"><label for="valorRealFactura">Total de la factura (AR$):</label>
                            <input [disabled]="ajusteConfirmado" autocomplete="off"   required
                                            maxlength="6"
                                            name="valorRealFactura"
                                            [(ngModel)]="valorRealFactura"
                                            type="number" class="form-control cond-cotiza pre-numero-input text-right" id="valorRealFactura" placeholder="">
                                            <div class="tooltip">i
                                                <span class="tooltiptext">Ingrese el valor real total de la factura en AR$, este debe poseer una diferencia menor a 10 AR$ con el total calculado por el sistema, caso contrario contacte al gerente.</span>
                                              </div></div>
                            <div class="col-sm-12 btn-container-2">
                                <button
                                        name="ajusteConfirmado"
                                        [disabled]="ajusteConfirmado"
                                        (click)="onClickConfirmAjuste()"
                                        class="btn btn-primary btn-ingreso-from btn-space"
                                        >
                                    Confirmar
                                </button>

                                <button [disabled]="!ajusteConfirmado" (click)="onClickCancelarAjuste()" class="btn btn-primary btn-space btn-ingreso-from">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>

        <div class="row custom-card-container">
            <custom-card class="col-sm-5 card-observaciones card-flex-column" title="Observaciones">
                <textarea name="obserss" [(ngModel)]="comprobante.observaciones" class="form-control text-area-observaciones" id="observaciones"></textarea>
            </custom-card>

            <div class="col-sm-5 card-total card-flex-column">

                <custom-card title="Totales">
                    <div class="card-total-content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="total-item">
                                    <label class="titulo-cotizacion">Cotizacion Dolar: </label>
                                    <!--<label>{{utilsService.parseDecimal(cotizacionDatos.cotizacion.cotizacion)}}</label>-->
                                    <input autocomplete="off"   required
                                        maxlength="6"
                                        name="cotDolarEditada"
                                        [(ngModel)]="cotizacionDolarEditada"
                                        (ngModelChange)="onChangeCotDolar()"
                                        type="text" class="form-control pre-numero-input text-right" id="cotDolarEditada" placeholder="">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="total-item" id="fechaComprobante">
                                    <label class="titulo-cotizacion">Fecha: </label>
                                    <label>{{cotizacionDatos.cotizacion.fechaCotizacion | date:'dd/MM/yyyy'}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="total-comprobante col-sm-6 total-item">
                                <label class="titulo-cotizacion">Total Neto: </label>
                                <label>{{utilsService.parseDecimal(cotizacionDatos.total)}}</label>
                            </div>

                            <div class="total-comprobante col-sm-6 total-item">
                                <label class="titulo-cotizacion">Total Cte: </label>
                                <label>{{utilsService.parseDecimal(cotizacionDatos.total + sumatoriaSubtotales)}}</label>
                            </div>
                        </div>

                        <div *ngIf="comprobante.moneda && comprobante.moneda.idMoneda == 2" class="row">
                            <div class="total-comprobante col-sm-6 total-item">
                                <label class="titulo-cotizacion">Total Neto(AR$): </label>
                                <label>{{utilsService.parseDecimal(cotizacionDatos.total * cotizacionDolarEditada)}}</label>
                            </div>

                            <div class="total-comprobante col-sm-6 total-item">
                                <label class="titulo-cotizacion">Total Cte(AR$): </label>
                                <label>{{utilsService.parseDecimal((cotizacionDatos.total + sumatoriaSubtotales) * cotizacionDolarEditada)}}</label>
                            </div>
                        </div>
                    </div>
                </custom-card>
                           <!-- [disabled]="isDisabledConfirm()"-->
            </div>

            <custom-card class="col-sm-2 card-flex-column" title="_">
                <div class="col-sm-12 btn-container">
                    <button   [disabled]=isDisabledConfirm()
                            (click)="onClickConfirmar()"
                            class="btn btn-primary btn-ingreso-from">
                        Confirmar
                    </button>

                    <button (click)="onClickCancelar()" class="btn btn-primary btn-ingreso-from">
                        Cancelar
                    </button>
                </div>
            </custom-card>
        </div>
    </form>
</ba-card>

<div *ngIf="valueGuardandoCompro !== 0" class="spinner-container">
    <p class="title">
        Guardando Comprobante
    </p>
    <p><ngb-progressbar [value]="valueGuardandoCompro" type="info"></ngb-progressbar></p>
</div>
