.cot-dolar {
    .btn-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5%;
        padding: 10px;
        .btn-new-user {
            //margin: 5% 6% 0;
        }
    }
}