@import '../../../../../theme/sass/conf/conf';
:host /deep/ .widgets {
    .data-table-container {
        width: 100%;
        padding-top: 1%;
        .panel-heading {
            margin-top: 25px;
        }

        
    }
}