<div class="nuevo-cot-dolar" style="width: 50%;">
    <ba-card cardTitle="Nuevo Cotización dolar" baCardClass="with-scroll">
        <form (ngSubmit)="onClickCrear()" #theForm="ngForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="cotizacion">Cotizacion</label>
                        <input  name="coti"
                                [(ngModel)]="recurso.cotizacion" 
                                type="text" 
                                class="form-control" id="coti"
                                required>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="idFechaCot">Fecha Cotizacion</label>
                        <div class="input-group date-picker-fecha">
                            <input 
                                id="idFechaCot"
                                (blur)="recurso.fechaCotizacion = utilsService.stringToDateLikePicker(recurso.fechaCotizacion)"
                                class="form-control" 
                                placeholder="dd/mm/aaaa" 
                                name="dp" 
                                [(ngModel)]="recurso.fechaCotizacion"
                                ngbDatepicker #dDesd="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dDesd.toggle()" type="button" style="height: 100%;">
                                    <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div style="display: flex; justify-content: flex-end;">
                <button routerLink="/pages/tablas/cot-dolar" style="margin-right: 5px;" class="btn btn-secondary 
                    btn-detalle">
                    Cancelar
                </button>

                <button [disabled]="!theForm.form.valid" type="submit" class="btn btn-primary">Confirmar</button>
            </div>
        </form>
    </ba-card>

</div>