@import 'conf/conf';


////////////////////////////////////////////////////////////////////////////
////////////////////////// CUSTOM GLOBAL CLASS /////////////////////////////
////////////////////////////////////////////////////////////////////////////


.inline-group {
    display: flex;
    label {
        white-space: nowrap;
        //padding: 2% 3% 0% 0%;
        padding: 4px 5px 1px 0;
    }
    select {
        height: 21px !important;
    }
}

/**
* Clase necesaria para sacarle margin a los úiltimos elementos del customCard
*/
.last-child-custom-card {
    margin-bottom: 1%;
}