:host /deep/ .remitos-internos {
    > .card {
        margin-bottom: 2px;
    }
    > .card > .card-body {
        display: flex;
        

        .flex-end-with-padding {
            justify-content: flex-end;
            padding-bottom: 1%;
        }

        .filtros-container {
            display: flex;
            justify-content: space-between;

            .btn-container {
                margin-left: 19px;
                margin-top: 15px;
            }
        }
    }

    .inline-group select {
        height: 21px !important;
        padding-top: 3px !important;
        padding-bottom: 2px !important;
    }

    .card-flex-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        .btn-ingreso-from {
            float: none;
            margin: 7% 0;
        }
    }

    .pre-numero-input {
        width: 30%;
        margin-right: 3px;
    }
}
