@import '../../../../../../theme/sass/conf/conf';

.tabla-forma-pago {
    height: 112px; 
    overflow: auto;
    // width: 204%;

    // Bordes
    table {
        .table-header {
            background: #b8b8bd;
        }

        tr:nth-child(even) {
            background: #cacad2;
        }

        td {
            padding: 2px;
            .checkbox-td {
                display: block;
                margin: 2px;
            }           
        }
    }
}